@model IEnumerable<AppReservation.ViewModels.ResStudentViewModel>

<p class="text-right">
    <a class="btn btn-primary" asp-action="Create"><i class='bx bx-message-square-add'></i></a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td >
                @{ if (item.Status == Status.Attente.ToString())
                    {
                        <p class="btn-primary rounded px-2 py-1 text-light">@item.Status</p>
                    }
                    else if (item.Status == Status.Confirmé.ToString())
                    {
                        <p class="btn-success text-light rounded px-2 py-1">@item.Status</p>

                    }
                    else
                    {
                        <p class="btn-danger text-light rounded px-2 py-1">@item.Status</p>
                    }
                }
            </td>
            <td>
                <a class="btn btn-success rounded-circle" asp-action="Edit" asp-route-id="@item.Id"><i class='bx bxs-pencil'></i></a> |
                <a class="btn btn-primary text-white rounded-circle" asp-action="Details" asp-route-id="@item.Id"><i class='bx bx-detail'></i></a> |
                <a class="btn btn-danger rounded-circle" asp-action="Delete" asp-route-id="@item.Id"><i class='bx bx-trash'></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
