@model IEnumerable<AppReservation.ViewModels.ResStudentViewModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td >
                @{ if (item.Status == Status.Attente.ToString())
                    {
                        <p class="bg-primary rounded px-2 py-1 text-light">@item.Status</p>
                    }
                    else if (item.Status == Status.Confirmé.ToString())
                    {
                        <p class="bg-success text-light rounded px-2 py-1">@item.Status</p>

                    }
                    else
                    {
                        <p class="bg-danger text-light rounded px-2 py-1">@item.Status</p>
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
